<div class="login-page" [@routerTransition]> 
  <div class="row justify-content-md-center">

    <div class="login col-md-4">
      <form class="login-container">
        <img src="assets/warning-28-64.png" alt="error" width="80px"/><br /><br />
        <h2 class="h2-size-shrink">Error 301 : Moved Permanently </h2>
        <br />

        <h6>This webpage might be temporarily down or<br />
          it may have moved permanently to a new web address. </h6><br />

        <p class="spacing">
          <input type="button" value="Go Back" class="btn rounded-btn btn-space" [routerLink]="['']">
        </p>
      </form>
    </div>
  </div>
</div>
